<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8">
    <link href="style/mainStyle.css" rel="stylesheet" type="text/css">
    <!--link href="style/testStyle.css" rel="stylesheet" type="text/css"-->
    <link href="http://fonts.googleapis.com/css?family=Cabin:400,500,600,bold" rel="stylesheet" type="text/css">

    <link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold" rel="stylesheet" type="text/css">

    <title>home</title>
</head>
<body>
<div class="login-form">

    <a class="button buttonCenter" href="/manufacturers">
        Manufacturers
    </a><br>

    <a class="button buttonCenter" href="/products">
        <span>Products</span>
    </a><br>


    <a class="button buttonCenter" href="/userslist">
        Users
    </a><br>
</div>

(список производителей + возможность создавать новых, редактировать и удалять созданных производителей)

2. Products (список товаров + возможность создавать новых, редактировать и удалять созданные товары)

3. Users (список всех ползователей приложения + возможность создавать новых, редактировать и удалять созданных
пользователей) - ТОЛЬКО для ADMIN (и чтение и редактирование)


</body>
</html>