<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head>
    <meta charset="UTF-8">
    <link href="style/mainStyle.css" rel="stylesheet" type="text/css">
    <!-link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Spring login page</title>

</head>
<body>
<div
        id="errors"
        th:if="${(param.error != null) and (param.error[0] == 'true')}">
    Input is incorrect
</div>

<div th:if="${param.error}">
    <h3>Неправильный логин или пароль. Это все.</h3>
</div>
<div class="w3-container w3-green" th:if="${param.logout}">
    <h3>Вы успешно вышли из системы</h3>
</div>

<div class="login-form">
    <form th:action="@{/login}" method="post">
        <div class="header">
            <h1>Вход в систему</h1>
            <span>Enter login and password </span>
        </div>
        <div class="content">

            <label>Login<br><input class="input" placeholder="Enter email"
                                   type="text" name="email"/></label><br>
            <label>Password<br><input class="input" placeholder="Enter password"
                                      type="password" name="password"/> </label><br>
        </div>
        <div class="footer">
            <div><input class="button buttonRight" type="submit" value="Accept"/></div>
            <a class="button buttonLeft" href="/registration">Register</a>
        </div>


    </form>
</div>

</body>
</html>